* {
  max-width: 1920px;
  margin: 0 0;
  padding: 0;
}

body {
  font-family: 'Jost', sans-serif;
  color: #454545;
}

/* TOP-HEADER */

.header
.top-header {
  background-color: #F6623E;
  bottom: 67.53%;
  display: flex;
  justify-content: space-between;
  padding : 15px 120px;
}

.header
.top-header
.top-header-left
p {
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 20px;
}

.header
.top-header
.top-header-right {
  display: flex;
}

.header
.top-header
.top-header-right
.login {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color:#FFFFFF;
  padding: 0 20px;
  border-right: 1px solid #FFFFFF;
  background-clip: padding-box;
  /* opacity: 0.3; */
  /* transform: rotate(90deg); */
}

.header
.top-header
.top-header-right
.translate {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.header
.top-header
.top-header-right
.translate
.flag {
  padding-right: 6.58px;
}

.header
.top-header
.top-header-right
.translate p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color:#FFFFFF;
  padding-right: 3px;
}

/* MAIN-HEADER */
.main-header {
  display: flex;
  justify-content: space-around;
  max-height: 140px;
  padding: 28px 0;
}

.main-header 
.nav 
ul {
  display: flex;
  justify-content: center;
}

.main-header 
.nav 
ul
li {
  margin: 10px 40px;
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  cursor: pointer;
}

.main-header 
.nav 
ul
.active {
  color:#F6623E;
}

.main-header
.feature-top {
  display: flex;
  align-items: center;
}

.main-header
.feature-top
img {
  margin: 0 8px;
}

.banner
.banner-content {
  max-width: 530px;
  max-height: 284.18px;
  position: absolute;
  left: 1001px;
  top: 305.7px;
}

.banner
.banner-content
.banner-content-title {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 42px;
  color: #F6623E;
  margin-bottom: 5px;
}

.banner
.banner-content
.banner-content-head {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
  color: #000000;
  margin-bottom: 11px;
}

.banner
.banner-content
p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 39px;
  color: #454545;
}

.banner
.banner-content
.banner-content-button {
  background-color: #F6623E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

/* DEAL */
.deal {
  max-width: 759px;
  max-height: 136px;
  text-align: center;
  margin: 66px auto;
}

.deal
.deal-head {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 32px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}

.deal
.deal-head::after {
  position: absolute;
  content: "";
  width: 127px;
  height: 4px;
  background-color: #F6623E;
  top: 90%;
  margin-top: 20px;
  left: 42%;
}

.deal
p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #454545;
  margin-top: 49px;
}

.deal-list {
  display: flex;
  justify-content: space-evenly;
  width: 1679px;
  height: 456px;
  margin: 0 auto;
}

.deal-list
.deal-item {
  max-width: 397px;
  max-height: 410px;
  background-color: #F4F3F4;
  border: 1px solid #E8E8E8;
  /* flex-basis: 30%; */
  align-content: center;
}

.deal-list
.deal-item
.image-full {
  margin: 45px 42.19px;
}

.deal-list
.deal-item
.deal-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.service-list {
  display: flex;
  justify-content: space-evenly;
  margin: 139px 217px;
}

.service-list
.service-item {
  max-width: 284px;
  max-height: 178px;
  text-align: center;
  /* margin-right: 171px; */
}

.service-list
.service-item
.service-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-top: 22px;
}

.service-list
.service-item
.service-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #828181;
  margin-top: 11px;
}

.take-control {
  display: flex;
  justify-content: space-around;
}

.take-control
.take-control-content {
  width: 1009px;
  max-height: 678px;
  background-color: #FFF8F6;
  margin-right: 380px
}

.take-control
.take-control-content
.take-control-content-left {
  width: 515px;
  height: 400px;
  margin: 139px;
  margin-left: 203px;
}

.take-control
.take-control-content
.take-control-content-left
.take-control-content-left-head {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 72px;
  letter-spacing: 3px;
  color: #000000;
  text-transform: uppercase;
}

.take-control
.take-control-content
.take-control-content-left
p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #454545;
  margin: 12px 0;
}

.take-control
.take-control-content
.take-control-content-left
.take-control-content-button {
  padding: 18px 45px;
  border: 2px solid #F6623E;
  display: inline-block;
  margin-top: 34px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}

.take-control
.take-control-content-center {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 950px;
  top: 1980px;
}

.take-control
.take-control-content-center
img {
  margin-bottom: 30px;
}

.product
.product-head {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 32px;
  color: #000000;
  margin-top: 137px;
  margin-bottom: 58px;
  text-align: center;
  text-transform: uppercase;
}

.product
.product-list {
  display: flex;
  justify-content: space-around;
}

.product
.product-list
.product-item {
  width: 395px;
  height: 408px;
  align-items: center;
  background-color: #F4F3F4;
  border: 1px solid #E8E8E8;
}

.product
.product-list
.product-item
.image-full {
  margin: 0 auto;
}

.product
.product-list
.product-item
.product-title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #000000;
  margin-top: 22px;
  margin-bottom: 7px;
}

.product
.product-list
.product-item
.product-price {
  display: flex;
  justify-content: center;
}

.product
.product-list
.product-item
.product-price
.product-price-main {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F6623E;
  margin-right: 21px;
}

.product
.product-list
.product-item
.product-price
.product-price-sale {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: #828181;
}

.product
.button-product {
  border: 1px solid #F6623E;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 150px;
  margin-left: 800px;
}

.review {
  background-image: url(./img/banner-review.png);
  height: 911px;
  margin-top: 85px;
}

.review
.review-content {
  width: 620px;  
  height: 455px;
  padding: 242px 0 214px 362px;
}

.review
.review-content
.review-content-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 4px;
  text-transform: uppercase; 
  color: #000000;
  margin-bottom: 21px;
}

.review
.review-content
.review-content-result {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #F6623E;
  margin-bottom: 39px;
}

.review
.review-content
.review-content-description {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 44px;
  letter-spacing: 1px;
  color: #454545;
  margin-bottom: 23px;
}

.review
.review-content
.review-content-signature {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #F6623E;
  margin-bottom: 32px;
}

.review
img {
  position: absolute;
  top: 3800px;
  left: 1055px;
}

.review
.review-content
.review-content-button
.review-content-button-pre {
  padding: 12px 16px;
  border: 1px solid #9D9D9D;
  border-radius: 5%;
  margin-right: 20px;
}

.review
.review-content
.review-content-button
.review-content-button-next {
  padding: 12px 16px;
  border: 1px solid #F6623E;
  border-radius: 5%;
  color: #F6623E;
}

.review
.review-content
.review-content-button {
  display: flex;
}